* {
    font-family: sans-serif;
}

nav {
    font-size: x-large;
    background-color: rgb(149, 222, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
}

button {
    border: none;
    border-radius: 10px;
}

#open_form {
    font-size: large;
    height: 40px;
    background-color: white;
}

#open_form:hover {
    background-color: darkgray;
}

#book_form {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 26rem;
    width: 28rem;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px black solid;
    border-radius: 5px;
    background-color: white;
    text-align: center;
}

#book_form input {
    margin: 1rem 0;
}

#book_form button {
    height: 2rem;
    width: 4rem;
}

#card_container {
    display: flex;
    justify-content: space-around;
}

.book_containers {
    margin: 2rem;
    text-align: center;
    background-color: lightgrey;
    border-radius: 10px;
    height: 15rem;
    width: 15rem;
}

.btn_container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.btn_container button {
    margin: .5rem;
    height: 2rem;
    width: 10rem;
}

button:hover {
    background-color: rgb(192, 192, 192);
}